<a href="https://colab.research.google.com/github/MarcoGonsalves/Python-Beginners-Collection/blob/master/Basic_Python_2_Programming_for_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DNA Exercise

Data collected from small preliminary study

In [123]:
import pandas as pd

Import the data into a data structure

In [124]:
dna_data = pd.read_csv('dna_data.csv')

dna_data.head()

    id  earlength                                             dnaseq
0  17A        5.1  CCGCATCTTGACTTAACTGACATATTACCATAGATGACTAGCCATG...
1  24P        7.5  GCTATGACTTGCTTAGCTACGTATGAAGGAAGAAACTTTTGTGTAT...
2  09Q       12.2  CCGCCGATTGATACAGGGGACGGTGACGTCGTCATAGATTCGGCAC...
3  65Y        9.9  GCAGGAGAAGTTCTTAACCTTCTCGTAGGACGTCAACCTATTCTTT...
4  19N       10.0  TCTTCATCCTTATCAAAGTTTGGAGTCAATGATCAGGATTATTGCC...

Loop over the rows in the dataset, check to see if the ear length is large (>10 cm) or small (<=10 cm) and determine the GC-content of the DNA sequence (i.e., the percentage of bases that are either G or C)

In [125]:
# Loop through database
for i in dna_data.iterrows():
  # Determine subject id and calculate the percentage 'G' or 'C' base
  id = i[1]['id']
  GC_base = i[1]['dnaseq'].count('G' or 'C') / len(i[1]['dnaseq']) *100
  # Check ear size and classify. Print answer
  if i[1]['earlength'] > 10:
    print(f'Subject {id} has a large ear and {GC_base}% G or C bases')
  else:
    print(f'Subject {id} has a small ear and {GC_base}% G or C bases')

Subject 17A has a small ear and 20.0% G or C bases
Subject 24P has a small ear and 22.0% G or C bases
Subject 09Q has a large ear and 30.0% G or C bases
Subject 65Y has a small ear and 19.0% G or C bases
Subject 19N has a small ear and 17.0% G or C bases
Subject 92K has a large ear and 33.0% G or C bases
Subject 33W has a small ear and 24.0% G or C bases
Subject 98C has a large ear and 32.0% G or C bases
Subject 75G has a small ear and 20.0% G or C bases
Subject 88Q has a large ear and 27.0% G or C bases

Create new table where the first column has the ID for the individual, the second column contains the string ‘large’ or the string ‘small’ depending on the size of the individuals ears, and the third column contains the GC content of the DNA sequence

In [126]:
# Listing id's from dataframe
id_list = dna_data['id'].values.tolist()

In [127]:
ear_size = []
# Listing ear size's from dataframe
for size in dna_data.iterrows():
  if size[1]['earlength'] > 10:
    ear_size.append('Large')
  else:
    ear_size.append('Small')

In [128]:
GC_content = []
# Listing GC_contents from dataframe
for dna in dna_data.iterrows():
  GC_base = round(dna[1]['dnaseq'].count('G' or 'C') / len(dna[1]['dnaseq']) *100)
  GC_content.append(GC_base)

In [129]:
# Create new dataframe
classification = {'id': id_list,
                  'ear_size': ear_size,
                  'GC_content': GC_content}
class_data = pd.DataFrame(classification, columns=['id', 'ear_size', 'GC_content'])
class_data

    id ear_size  GC_content
0  17A    Small          20
1  24P    Small          22
2  09Q    Large          30
3  65Y    Small          19
4  19N    Small          17
5  92K    Large          33
6  33W    Small          24
7  98C    Large          32
8  75G    Small          20
9  88Q    Large          27

What is the average GC-content for both large-eared and small-eared subjects?

In [135]:
tot_large = 0
tot_small = 0
GC_large = 0
GC_small = 0
# Seperate GC-content based on ear size and summing the answers
for dna in class_data.iterrows():
  if dna[1]['ear_size'] == 'Large':
    GC_large += dna[1]['GC_content']
    tot_large +=1
  else:
    GC_small += dna[1]['GC_content']
    tot_small +=1

print(f'Average GC-content for large-eared subjects is {round(GC_large/tot_large,1)}')
print(f'Average GC-content for large-eared subjects is {round(GC_small/tot_small,1)}')

Average GC-content for large-eared subjects is 30.5
Average GC-content for large-eared subjects is 20.3

Export the table of individual level GC values to a CSV file

In [137]:
class_data.to_csv('class_data.csv', index=False)