<a href="https://colab.research.google.com/github/MarcoGonsalves/Python-Beginners-Collection/blob/master/Simple_Cleaning_of_Property_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
# Import Libraries
import pandas as pd
import numpy as np

#Cleaning Property Data

In [43]:
# Read data file, print columns and head
property_data = pd.read_csv('property data.csv')
print(property_data.columns)
print(f'\n {property_data.head()}')

Index(['PID', 'ST_NUM', 'ST_NAME', 'OWN_OCCUPIED', 'NUM_BEDROOMS', 'NUM_BATH',
       'SQ_FT'],
      dtype='object')

            PID  ST_NUM    ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0     PUTNAM            Y            3        1  1000
1  100002000.0   197.0  LEXINGTON            N            3      1.5    --
2  100003000.0     NaN  LEXINGTON            N          NaN        1   850
3  100004000.0   201.0   BERKELEY           12            1      NaN   700
4          NaN   203.0   BERKELEY            Y            3        2  1600

In [44]:
# View 'ST_NUM' column with null values
print(property_data['ST_NUM'])
print(property_data['ST_NUM'].isnull())

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64
0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

Pandas recognises 'null' or blank and 'NA' as missing values

In [45]:
# View 'ST_NUM' column with null values in various forms
print(property_data['NUM_BEDROOMS'])
print(property_data['NUM_BEDROOMS'].isnull())

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7      1
8     na
Name: NUM_BEDROOMS, dtype: object
0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

Pandas recognises 'n/a' as missing but not 'na'. Give pandas a list of possible missing values to correctly identify them as null

In [46]:
# Give pandas a list of values to be read as null
missing_values = ['na', '-', '--']
property_data = pd.read_csv('property data.csv', na_values = missing_values)

print(property_data['NUM_BEDROOMS'])

0    3.0
1    3.0
2    NaN
3    1.0
4    3.0
5    NaN
6    2.0
7    1.0
8    NaN
Name: NUM_BEDROOMS, dtype: float64

Pandas can correctly identify the missing values and as more of these values are discovered they will be added to the missing_values list

In [47]:
# View 'OWN_OCCUPIED' and its null values
print(property_data['OWN_OCCUPIED'])
print(property_data['OWN_OCCUPIED'].isnull())

0      Y
1      N
2      N
3     12
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object
0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
8    False
Name: OWN_OCCUPIED, dtype: bool

The int value should be null, but pandas does not recognise it as such

In [48]:
# loop through 'OWN_OCCUPIED' to detect integers by trying to convert value type, if it converts to integer replace the value with 'nan'
count = 0
for row in property_data['OWN_OCCUPIED']:
  try:
    int(row)
    property_data.loc[count, 'OWN_OCCUPIED']=np.nan
  except ValueError:
    pass
  count +=1

Detect integers and convert to null

In [49]:
# View changes made
print(property_data['OWN_OCCUPIED'])

0      Y
1      N
2      N
3    NaN
4      Y
5      Y
6    NaN
7      Y
8      Y
Name: OWN_OCCUPIED, dtype: object

In [50]:
# Evaluate sum of all missing values in dataset and summarise
print(f'Missing values by column: \n{property_data.isnull().sum()}\n')

print(f'Missing values in dataset: {property_data.isnull().sum().sum()}')

Missing values by column:
PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    3
NUM_BATH        1
SQ_FT           2
dtype: int64

Missing values in dataset: 11

In [51]:
# View anoter column with strings in a column we expect to see float values
print(property_data['NUM_BATH'])

0         1
1       1.5
2         1
3       NaN
4         2
5         1
6    HURLEY
7         1
8         2
Name: NUM_BATH, dtype: object

In [52]:
# Convert values to float, where an error occurs convert to null
count=0
for row in property_data['NUM_BATH']:
  try:
    float(row)
    pass
  except ValueError:
    property_data.loc[count, 'NUM_BATH']=np.nan
  count +=1

In [53]:
# View cleaned data
print(property_data)

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY          NaN           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0      NaN   950.0
7  100008000.0   213.0     TREMONT            Y           1.0        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

#EDA of Property Data